*
    font-family: 'Raleway'
body
    background-image: url('/images/bg.jpg')
    background-size: 40px
    padding: 0
li
    list-style: none
a
    color: #fff
    &:hover
        color: #fff
.header
    // background-color: rgba(#000, 1)
    background-image: url('/images/bg-header.jpg')
    > .container
        padding: 10px 0
    .languages
        .list-inline
            // text-align: center
            padding: 30px 0
        .list-inline-item 
            margin: 0 10px
            img
                height: 30px
                width: 30px
                border-radius: 5px
    .logo 
        padding: 14px 0
        img
            width: 100px
            margin: 0 auto
            display: block
    .contact
        .row
            .badge
                background-color: transparent
                text-align: left
                font-size: 1.4rem
                padding: 5px 10px
                margin: 5px 0
                span
                    margin-left: 10px
            &:first-child .badge 
                i
                    position: relative
                    top: -10px
                span
                    display: inline-block
                    white-space: normal
                    line-height: 2rem
    .navbar
        height: auto
        margin-bottom: 0
        border-radius: 0
        padding: 0
        *
            font-size: 1.4rem
        .navbar-nav > li
            position: relative
            &:hover .submenu
                top: 50px
                li
                    display: block
            > a
                padding-right: 18px
                &.has-submenu:after
                    content: "\f0d7"
                    font-family: "Font Awesome 5 Free"
                    font-weight: 900
                    position: absolute
                    right: 5px
        .submenu
            background-color: black
            padding: 0
            z-index: 1
            // display: none
            width: 300px
            position: absolute
            top: 70px
            transition: top .3s ease
            li 
                text-align: left
                display: none
                a
                    display: block
                    padding: 10px
                    color: #fff
                    background-color: #222!important
                    &:hover
                        background-color: #333!important
    .progress
        margin-bottom: 0

.carousel-indicators.not-home-page
    float: none
    width: auto
    display: inline-block
    left: 50%
    bottom: 5px
    transform: translateX(-50%)
    text-align: center
    li
        width: 50px
        height: 10px
        border-color: #FAFAFA
        border-radius: 5px
        background-color: transparent
        float: none
        &.active
            height: 10px
            background-color: #FAFAFA
    
.carousel-txt
    h2
        font-size: 2rem
    padding: 20px
    text-align: left
    position: absolute
    background-color: #fff
    width: 30%
    left: 10%
    top: 45%
    transform: translateY(-50%)
    .list-items
        padding-left: 10px
        li
            list-style: disc inside

.why-study-abroad
    padding: 40px 0 0
    .section-title
        text-align: center
    .row div
        background-image: url(images/headline/about-us.png)
        background-attachment: scroll
        height: 260px
        background-size: cover
        background-repeat: no-repeat
.apply-now .row div
    background-image: url(images/headline/apply-now.png)
    background-attachment: scroll
    height: 260px
    background-size: cover
    background-repeat: no-repeat

.universities 
    a:not([class*='btn'])
        color: #000
    .section-title
        margin-top: 30px!important
    .row:not(:first-child)
        margin: 25px 0
        > [class*='col-'] .row
            padding: 10px
            border-radius: 5px
            border: 1px solid #ccc
            transition: transform .3s ease
            &:hover
                transform: scale(1.05)


.section
    .section-title
        text-align: center
        margin: 30px 0 0
    
        img
            border: 1px solid #fff
            box-shadow: 2px 2px 0 0 #dadada
    .more
        text-align: center

.feature-offer
    background-color: #337AB7
    color: #fff
    text-align: left
    .row:first-child
        text-align: center
    .section-title
        margin-top: 20px!important
        text-align: center
        padding: 20px;
        display: inline-block;
        border-radius: 10px;
        border: 1px #fff solid;
    .row:last-child
        padding-top: 50px
        padding-bottom: 50px
        font-size: 1.7rem
    img
        width: 100%
    a
        color: #fff


.procedure
    padding-top: 40px
    padding-bottom: 40px
    h2.section-title
        margin: 0
        margin-bottom: 30px
    h4
        margin-bottom: 20px
    i
        font-size: 9rem
        margin-bottom: 10px
    .procedure-step
        text-align: center
        color: #fff
        margin: 0 1.5%
        width: 30%
        border-radius: 5px
        border: 1px solid gray
        padding: 30px 20px
        height: 320px
        transform: translate(0,0)
        transition: all .3s ease
        h4
            font-size: 2.5rem
        p
            font-size: 1.8rem
        &:hover
            transform: translate(-5px,-5px)
            box-shadow: 5px 5px 5px rgba(37, 37, 38, 0.3)
        &:first-child
            background-color: #0768CF
            // i
            //     color: #0768CF
        &:nth-child(2) 
            background-color: #01A0C7
            // i
            //     color: #01A0C7
        &:last-child 
            background-color: #067332
            // i
            //     color: #067332
    
      
.contact-us
    padding: 50px 0 30px
    
    
.our-services
    text-align: center
    .section-title
        margin: 0
    h3
        margin-top: 10px
    .section-title-line
        width: 110px
        height: 2px
        margin-bottom: 20px
        margin-top: 30px
        background-color: #337AB7
        border: #337AB7
    p
        font-size: 2rem
    .service-items, .reason-items
        text-align: left
        font-size: 2rem
        li
            padding: 10px
            list-style: disc
            span.btn-danger
                font-size: 1.5rem
                text-align: left
                cursor: unset
                white-space: unset

.why-ukraine
    .row:first-child
        margin-top: 30px
        

.degrees
    text-align: left
    .row
        border: 0!important
    h3, label
        margin: 5px 0
    .paths
        .btn-danger
            font-size: 1.5rem
            text-align: left
            cursor: unset
            white-space: unset
        .path-items
            padding-left: 10px
            > li
                list-style: circle inside
                font-size: 2rem
                li
                    list-style: disc
.btn-danger
    font-size: 1.5rem
    text-align: left
    cursor: unset
    white-space: unset

.gallery
    padding: 20px 0
    iframe
        width: 100%
        height: 250px
        padding: 0
        transform: scale(1)
        transition: transform .3s ease
        &:hover
            box-shadow: 0 8px 15px rgba(0,0,0,0.3)
            transform: scale(1.05)
    .gallery-container
        border-radius: 0
        box-shadow: none
        h1
            margin-top: 20px
            font-family: 'Raleway'
            font-weight: normal
        .tz-gallery
            padding: 20px 0
            .col-md-4:nth-last-child(3-n) img
                margin-bottom: 0
            .lightbox img
                height: 250px
    .youtube
        text-align: center
        padding: 20px
        h2
            margin: 25px 0 20px
.contact-us
    hr
        margin: 15px 0
    h3
        margin-bottom: 15px
        text-decoration: underline
    label
        margin: 5px 0
        font-size: 1.7rem
    i
        margin-right: 10px
.footer
    // background-color: #44A2BE
    background-image: url('/images/bg-header.jpg')
    color: #fff
    padding: 20px 0 
    text-align: left
    label
        line-height: 2.5rem
    h2
        margin-bottom: 20px
    h3
        text-decoration: underline
        margin-top: 15px
        margin-bottom: 15px
    .about
        p
            font-size: 1.8rem
    .infos
        text-align: left
        font-size: 1.7rem
        i
            margin-right: 10px
.google-map
    width: 100%
    
    
.adds-container
    opacity: 1
    right: unset
    left: 10px
    z-index: 20
    .up-btn:hover
        &:before,&:after
            content: ''
            display: none

    
.register
    padding: 50px 0