*
    font-family: Raleway
li
    list-style: none
.header
    background-color: rgba(#000, 1)
    > .container
        padding: 10px 0
    .languages
        .list-inline
            text-align: center
            padding: 30px 0
        .list-inline-item 
            margin: 0 10px
            img
                height: 30px
                width: 30px
                border-radius: 5px
    .logo img
        width: 100px
        margin: 0 auto
        display: block
    .contact
        .badge
            background-color: transparent
            text-align: left
            font-size: 1.4rem
            padding: 5px 10px
            margin: 5px 0
            span
                margin-left: 10px
    .navbar
        height: auto
        margin-bottom: 0
        border-radius: 0
        padding: 0
        *
            font-size: 1.4rem
        .navbar-nav > li
            position: relative
            &:hover .submenu
                display: block
                li
                    text-align: left
            > a
                padding-right: 18px
                &.has-submenu:after
                    content: "\f0d7"
                    font-family: "Font Awesome 5 Free"
                    font-weight: 900
                    position: absolute
                    right: 5px
        .submenu
            background-color: black
            padding: 0
            z-index: 1
            display: none
            width: 300px
            position: absolute
            li a
                display: block
                padding: 10px
                color: #fff
                background-color: #222!important
                &:hover
                    background-color: #333!important
    .progress
        margin-bottom: 0

.carousel-txt
    h2
        font-size: 2rem
    padding: 20px
    text-align: left
    position: absolute
    background-color: #fff
    width: 30%
    left: 10%
    top: 45%
    transform: translateY(-50%)
    .list-items
        padding-left: 10px
        li
            list-style: disc inside

.why-study-abroad
    padding: 40px 0 0
    .section-title
        text-align: center
    .row div
        background-image: url(images/headline/about-us.png)
        background-attachment: scroll
        height: 260px
        background-size: cover
        background-repeat: no-repeat
.apply-now .row div
    background-image: url(images/headline/apply-now.png)
    background-attachment: scroll
    height: 260px
    background-size: cover
    background-repeat: no-repeat
    
    
.section
    .section-title
        text-align: center
        margin: 30px 0 0
    .row:not(:first-child)
        margin: 25px 0
        > [class*='col-'] .row
            padding: 10px
            border-radius: 5px
            border: 1px solid #ccc
        img
            border: 1px solid #fff
            box-shadow: 2px 2px 0 0 #dadada
    .more
        text-align: center

.feature-offer
    background-color: #337AB7
    color: #fff
    .section-title
        margin-top: 20px
        text-align: center
    .row div:last-child
        padding-top: 50px
        font-size: 2rem
    img
        width: 100%    

    
    
    
.contact-us
    padding: 50px 0 30px
    
    
.section
    text-align: center
    .section-title
        margin: 0
    h3
        margin-top: 10px
    .section-title-line
        width: 110px
        height: 2px
        margin-bottom: 20px
        margin-top: 30px
        background-color: #337AB7
        border: #337AB7
    p
        font-size: 2rem
    .service-items, .reason-items
        text-align: left
        font-size: 2rem
        li
            padding: 10px
            list-style: disc
            span.btn-danger
                font-size: 1.5rem
                text-align: left
                cursor: unset
                white-space: unset
.why-ukraine
    .row:first-child
        margin-top: 30px
        

.degrees
    text-align: left
    .row
        border: 0!important
    h3, label
        margin: 5px 0
    .paths
        .btn-danger
            font-size: 1.5rem
            text-align: left
            cursor: unset
            white-space: unset
        .path-items
            padding-left: 10px
            > li
                list-style: circle inside
                font-size: 2rem
                li
                    list-style: disc
.btn-danger
    font-size: 1.5rem
    text-align: left
    cursor: unset
    white-space: unset
.footer
    background-color: #44A2BE
    color: #fff
    padding: 20px 0 0
    .list-group-flush li
        background: transparent
        border: 0
        border-bottom: 1px solid #fff
    .infos
        text-align: left
        i
            margin-right: 10px
.google-map
    width: 100%
    
    
.adds-container
    opacity: 1
    right: unset
    left: 10px
    z-index: 20
    .up-btn:hover
        &:before,&:after
            content: ''
            display: none
