html[lang*='ar']
    .header .navbar .navbar-nav li a
        font-size: 1.7rem
        text-align: right
    .header .navbar .navbar-nav>li>a
        padding-left: 18px
        padding-right: 15px
    .header .navbar .navbar-nav>li>a.has-submenu:after
        left: 3px
        right: unset
    .feature
        .carousel-txt
            right: 2%
            left: unset
            text-align: right
            ul
                padding-right: 10px
        .static-txt
            left: 0
            right: unset
        .carousel-indicators
            display: flex
            flex-direction: row-reverse
            >li span
                font-size: 1.7rem
    .welcome-rae .welcome-msg
        display: flex
        // flex-direction: row-reverse
        text-align: right
        
    .feature-offer .offer-detail
        display: flex
        text-align: right
    .procedure .steps
        display: flex
    
    
    .footer .row
        text-align: right
        display: flex
        // flex-direction: row-reverse
    .footer .infos i
        margin-right: 0
        margin-left: 10px