// STYLES FOR ARABIC ONLY - MOBILE
@media screen and (max-width: 768px)
    html[lang*='ar']    
        ul.navbar-nav
            padding-right: 0
        .header .header-row
            display: block
            text-align: center
        .header .contact .row .badge
            text-align: center
        .header .contact .row:first-child .badge i
            top: 0
        .header .contact .row .badge span
            margin-right: 10px
            margin-left: 0
        .welcome-rae .welcome-msg
            display: block
            // flex-direction: column-reverse
            text-align: right
        .universities .row>div
            text-align: right
        .feature-offer .offer-detail
            display: block
            // flex-direction: column-reverse
            text-align: center
        .procedure .steps
            display: block
            .procedure-step a > .row
                text-align: center
            
        .footer .row
            // text-align: right
            display: block
            // flex-direction: row-reverse
            
        .main-content > .container 
            font-size: 2rem
            > .row
                display: block
            .row, ul
                text-align: right
            .list-group
                padding-inline-start: 0