.ukraine 
    .item:nth-child(1)
        background-image: url(/images/headline/ukraine/bg-feature1.jpg)
    .item:nth-child(2)
        background-image: url(/images/headline/ukraine/bg-feature2.jpg)
    .item:nth-child(3)
        background-image: url(/images/headline/ukraine/bg-feature3.jpg)

.russia 
    .item:nth-child(1)
        background-image: url(/images/headline/russia/bg-feature1.jpg)
    .item:nth-child(2)
        background-image: url(/images/headline/russia/bg-feature2.jpg)
    .item:nth-child(3)
        background-image: url(/images/headline/russia/bg-feature3.jpg)
