// .table
//     background-color: #fff

html[lang*='ar']
    .apply, .contact-form
        input
            text-align: right
        input, button, textarea, label
            font-size: 2rem
    .bootstrap-select.btn-group .dropdown-toggle .filter-option
        text-align: right
    .bootstrap-select.btn-group .dropdown-toggle .caret
        left: 12px
        right: unset
    .bootstrap-select>.dropdown-toggle
        padding-right: 12px
        padding-left: 25px
    .bootstrap-select.btn-group .dropdown-menu li a
        text-align: right